# Compiled files
*.tfstate
*.tfstate.backup
*.html
.ruby-*
*.sw*
.*.json
.tf-prepare/
.tf-remote-state-enabled
.terraform
backend-config
terraform-plan-output.txt
tfplan
# temporary and local test
.tmp/
# sensitive files from terraform outputs
.env*
*.zip
jenkins-infra-data-reports
