{
    "prefix"            : "<resource_prefix_to_identify_them>",
    "subscription_id"   : "<your_subscription_id>",
    "client_id"         : "<your_client_id>",
    "client_secret"     : "<your_client_secret>",
    "tenant_id"         : "<your_tenant_id>",
    "location"          : "<a region like EAST US>",
    "ssh_pubkey_path"   : "your ssh public key file path"
}
