github:
  user: "Jenkins Infra Bot (updatecli)"
  email: "60776566+jenkins-infra-bot@users.noreply.github.com"
  token: "UPDATECLI_GITHUB_TOKEN"
  branch: "main"
  owner: "jenkins-infra"
  repository: "azure"
controllers_azurevm_client_end_dates:
  ci.jenkins.io: null
  trusted.ci.jenkins.io: null
  cert.ci.jenkins.io: null
  infra.ci.jenkins.io:
    custom_hcl_key: resource.azuread_application_password.infra_ci_jenkins_io.end_date
# Also used by terraform in locals.tf
end_dates:
  infra_ci_jenkins_io:
    infraci_contributorsjenkinsio_fileshare_serviceprincipal_writer:
      end_date: 2024-12-18T00:00:00Z
      service: "contributors.jenkins.io"
      secret: "CONTRIBUTORS_SERVICE_PRINCIPAL_WRITER_CLIENT_SECRET"
    infraci_docsjenkinsio_fileshare_serviceprincipal_writer:
      end_date: 2024-10-17T00:00:00Z
      service: "docs.jenkins.io"
      secret: "DOCS_SERVICE_PRINCIPAL_WRITER_CLIENT_SECRET"
    infraci_pluginsjenkinsio_fileshare_serviceprincipal_writer:
      end_date: 2024-10-17T00:00:00Z
      service: "plugins.jenkins.io"
      secret: "INFRACI_PLUGINSJENKINSIO_FILESHARE_SERVICE_PRINCIPAL_WRITER_PASSWORD"
    infraci_statsjenkinsio_fileshare_serviceprincipal_writer:
      end_date: 2024-12-18T00:00:00Z
      service: "stats.jenkins.io"
      secret: "STATS_SERVICE_PRINCIPAL_WRITER_CLIENT_SECRET"
  trusted_ci_jenkins_io:
    trustedci_updatesjenkinsio_content_fileshare_serviceprincipal_writer:
      end_date: 2024-12-18T00:00:00Z
      service: "updates.jenkins.io (content)"
      secret: "trusted_ci_jenkins_io_fileshare_serviceprincipal_writer"
    trustedci_updatesjenkinsio_redirections_fileshare_serviceprincipal_writer:
      end_date: 2024-12-18T00:00:00Z
      service: "updates.jenkins.io (redirections)"
      secret: "TODO: to be identified, related to updates.jenkins.io (redirections)"
    trustedci_jenkinsio_fileshare_serviceprincipal_writer:
      end_date: 2024-10-16T00:00:00Z
      service: "jenkins.io"
      secret: "trustedci_jenkinsio_fileshare_serviceprincipal_writer"
    trustedci_javadocjenkinsio_fileshare_serviceprincipal_writer:
      end_date: 2024-10-16T00:00:00Z
      service: "javadoc.jenkins.io"
      secret: "trustedci_javadocjenkinsio_fileshare_serviceprincipal_writer"
